Repository eos/eos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eos/maintainers, @dvandyk, @mreboud, @lorenzennio, @Herren

.github/CODEOWNERS:

# All reviews should go to @eos/maintainers by default
*                   @eos/maintainers

# @dvandyk should review commits to the core code
eos/maths           @dvandyk
eos/statistics      @dvandyk
eos/utils           @dvandyk
python/_eos/        @dvandyk
python/_eos.cc      @dvandyk

# @mreboud should review commits to:
eos/rare-b-decays   @mreboud
eos/scattering      @mreboud

# @lorenzennio should review commits to pyhf code
python/eos/*pyhf*   @lorenzennio

# @herren should review commits to:
eos/b-decays        @Herren
eos/form-factors    @Herren
eos/scattering      @Herren

[constrains] (wip) Implement B -> eta ell nu measurements
  eos/b-decays/b-to-psd-l-nu.cc
  eos/b-decays/observables.cc
  eos/constraints/B-to-P-form-factors.yaml
  eos/constraints/B-to-eta-l-nu.yaml
  eos/constraints/Makefile.am
  eos/form-factors/observables.cc
Owners: @Herren, @eos/maintainers

[observable] Register B_s -> eta form-factors observables
  eos/form-factors/observables.cc
Owners: @Herren

[form-factors] Implement D_(s) -> eta^(') form factors in BSZ and BFW parametrizations
  eos/form-factors/mesonic-processes.hh
  eos/form-factors/mesonic.cc
  eos/form-factors/observables.cc
  eos/form-factors/parametric-bfw2010.cc
  eos/form-factors/parametric-bfw2010.hh
  eos/form-factors/parametric-bsz2015-impl.hh
  eos/form-factors/parametric-bsz2015.cc
  eos/form-factors/parametric-bsz2015.hh
  eos/parameters/hadronic-matrix-elements.yaml
  eos/references.yaml
Owners: @Herren, @eos/maintainers

[c-decays] Simplify options in D -> P l nu decays
  eos/c-decays/d-to-k-l-nu_TEST.cc
  eos/c-decays/d-to-psd-l-nu.cc
  eos/c-decays/observables.cc
Owners: @eos/maintainers

[c-decays] Implement D_(s) -> eta^(') l nu observables
  eos/c-decays/d-to-psd-l-nu.cc
  eos/c-decays/observables.cc
  eos/constraints/D-to-eta-l-nu.yaml
  eos/constraints/Ds-to-eta-l-nu.yaml
  eos/constraints/Makefile.am
Owners: @eos/maintainers
